<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Bookings</title>
    <link rel="stylesheet" href="styles/bookingstyle.css">

    <link rel="icon" type="image/x-icon" href="Images/favicon.ico.png">
</head>
<body>
    <header>

        <img src="Images/logo.PNG" alt="select park logo">

           
             <ul>
                <li><a href="Account.html">Account</a></li>
                <li class="dropdown">
                    <a href="booking.html" class="dropbtn">Reservation</a>
                    <div class="dropdown-content">
                        <a href="current.html">Current Reservation</a>
                        <a href="future.html">Future Reservation</a>
                        <a href="past.html">Past Reservation</a>
                    </div>
                  </li>

                <li><a href="report.html">Report</a></li>
                <li><a href="feedback.html">Feedback</a></li>
                <li><a href="moreinfo.html">More Information</a></li>
            </ul>

            </header>

          <main class="current-booking">

            

            <table>

                <caption><strong>Current Bookings</strong></caption>
               
                    <tr> <th>Date</th> <th>Time-In</th> <th>Time-Out</th> <th>Vehicle License Plate</th> <th>Payment Details</th> </tr>
                    <tr> <td>x </td> <td> </td> <td> </td>         <td> </td>          <td> </td> </tr>
            </table>
            <br>

          </main>
    <footer>
        
            <p>Created by Group 4 </p> 

    </footer>
    
</body>
</html>