<!DOCTYPE html>
<html>
    <head>
        <title> <%= title %></title>
        <link rel="stylesheet" type="text/css" href="./css/styles/forgotPassword.css">
    </head>
    <body>
      <div class="container">
      <main>
        <form action="/forgotPassword"  method="POST" id="ForgotPassword">
          <p>Please Provide the email address</p>
          <div><input type="email" name="email" placeholder="Email"> </div>
          <div><button type="submit" >Send Recovery Email</button> </div>
        </form>
      </main>
      <script src="js/ForgotPassword.js"> </script>
    </div>
    </body>
</html>