<!DOCTYPE html>
<html>
    <head>
        <title>Forgot password</title>
        <link rel="stylesheet" type="text/css" href="/css/forgotpassword.css">
    </head>
    <body>
      <div class="container">
      <main>
        <form action="/forgotpassword"  method="POST" id="ForgotPassword">
          <div><input type="email" name="email" placeholder="Email"> </div>
          <div><button type="submit" >Send Recovery Email</button> </div>
        </form>
      </main>
      <script src=""> </script>
    </div>
    </body>
</html>