
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Main</title>
        <link rel="stylesheet" href="/css/StyleIndex.css"/>
        <link rel="icon" type="image/x-icon" href="Images/favicon.ico.png">

    </head>

    <body>
        <header>
            <nav>
                <div id="Logo"> <img src="/Images/logo.PNG" alt="Logo"/></div>
                <div class="Loginbtn">
                    <a href="/Login"> Login </a>
                </div>

                <div class="Signupbtn">
                    <a href="/SignUp">Create an Account</a>
                </div>

            </nav>
        </header>
        <main>
            <section id = "Container">
                <h1>WELCOME TO SELECT PARK!</h1>

            </section>


            
        </main>
        <footer></footer>
    </body>

</html>