<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/StyleLogin.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <nav>
            <a href="/"><h3>Home</h3></a>
           
        </nav>
        <h1>Select Park</h1>
    </header>
    <main>
       
        <section id="container">
            
            

            <form action="/login"  method="POST" id="LoginForm" >
                

                <h1>Login</h1>
                
                <div>
                    <input type="text" placeholder="Email" name="email" class="Input-text" /> <i class='bx bxs-envelope'></i>
                </div>

                <div>
                    <input type="password" placeholder="Password" name="password" class="Input-text"/>
                    <i class='bx bxs-lock'></i>
                </div>

                <a href="/forgotpassword" target="_blank">Forgotten Password</a>
                <br/>

                <!-- Display error message -->
                
                <div id="error" style="display: none"></div>
                 <div id="Success" style="display: none"></div>


                <button type="submit" class="btn">Login</button>
                <br/>
                <br/>

                <div class="Signup-link">
                    <p>New Here? <a href="/signup">Sign Up Today!</a></p>
                </div>

            </form>

            


        </section>
        <div class="sidecontainer">
            <img src="./Images/untd campus.jpeg" alt="UNTD Image">
        </div>
    </main>
    <footer>
        <img   class="logo" src="./Images/logo.PNG" alt="SelectPark Logo"/>
    
    </footer>

    <script src="js/login.js"> </script>
</body>




</html>