<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="styles/StyleLogin.css"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        
    </header>
    <main>
       
        <section id="container">
            
            

            <form action="/auth/Login"  method="get" id="form" >
                <img src="Images/SelectPark Logo.PNG" alt="SelectPark Logo" style="width: 40%; height: 40%;"/>
                <h1>Login</h1>
                
                <div>
                    <input type="text" placeholder="Email" name="Email" class="Input-text"/> 
                    <i class='bx bxs-envelope'></i>
                </div>

                <div>
                    <input type="password" placeholder="Password" name="Password" class="Input-text"/>
                    <i class='bx bxs-lock'></i>
                </div>

                <a href="ForgotPassword.html" target="_blank">Forgotten Password</a>
                <br/>

                <button type="submit" class="btn">Login</button>
                <br/>
                <br/>

                <div class="Signup-link">
                    <p>New Here? <a href="Signup.html">Sign Up Today!</a></p>
                </div>

            </form>
            <div class="sidecontainer">
                <img src="Images/untd campus.jpeg">
            </div>


        </section>
    </main>
    <footer>

    </footer>
</body>



</html>