<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
   
    <header>
    <img src="./Images/logo.PNG" alt="Select Park logo">
    <h1>Welcome <%=firstname%>  </h1>
    </header>

    <main>
        <h2>Menu</h2>
       
       <div class="button-main">


            <form action="account">
            <button class="b1">Account</button>
            <form action=""></form>
            

            <form action="booking">
                <button class="b2">Reservation</button>

            </form>


            <form action="report">
                <button class="b3">Report</button>

            </form>

            <form action="feedback">
                <button class="b4">Feedback</button>

            </form>

            <form action="moreinfo">
                <button class="b5">More Information</button>

            </form>
       </div>
    </main>
    <footer>

        <p>Created by Group 4 </p>
        
    </footer>
    
</body>
</html>

<script>


</script>