<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Availabe</title>
    <link rel="stylesheet" href="/css/bookingstyle.css">

    <link rel="icon" type="image/x-icon" href="/Images/favicon.ico.png">
    
</head>
<body>
    <header>

        <img src="./Images/logo.PNG" alt="select park logo">

           
             <ul>
                <li><a href="/account">Account</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Reservation</a>
                    <div class="dropdown-content">
                      <a href="/current">Current Reservation</a>
                    <a href="/future">Future Reservation</a>
                    <a href="/past">Past Reservation</a>
                    </div>
                  </li>

                  <li><a href="/report">Report</a></li>
                  <li><a href="/feedback">Feedback</a></li>
                  <li><a href="/moreinfo">More Information</a></li>
            </ul>

            </header>

          <main>



            <div class="container">

            <img src="Images/location.png" alt="Location icon"/><p><b>University of North Texas at Dallas</b></p>

            </div>


            <div class="not-available">
              
                <h3>Not Available</h3>
            </div>

            <img class="pink-car" src="/Images/car.jpg" alt="car Image">





            

            <div class="buttons-error">
                
                <div><a class="again" href="/booking">Try Again</a></div>

            </div>




           

          </main>
    <footer>
        
            <p>Created by Group 4 </p> 

    </footer>
    
</body>
</html>
