<!DOCTYPE html>
<html>
    <head>
        <title>Reset password</title>
        <link rel="stylesheet" type="text/css" href="./css/styles/resetPassword.css">
    </head>
    <body>
      <div class="container">
      <main>
        <form action="/resetPassword?token=<%= token ? token : "" %>&email=<%= email ? email : "" %>" method="POST" id="ResetPassword">
            
             <div>
            <label for="NewPassword">New Password:</label>
            <input type="Password" id="NewPassword" name="NewPassword" placeholder="Enter New Password">
            </div>
            <div id="PasswordConfirmed">
            <label for="ConfirmPassword">Re-Enter Password:</label>
            <input type="Password" id="ConfirmPassword" name="ConfirmPassword" placeholder="Re-Enter New Password">
            </div>
            <div id="submit">
            <button type="submit">Reset Password</button>
        </form>
        <% if (errors) { %>
            <h3 >Error: Invalid form data!</h3>
            <ul>
                <li><%= errors %></li>
            </ul>
        <% } %>
      </main>
      </div>
    </body>
</html>

