<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SignUp</title>
        <link rel="Stylesheet" href="../styles/StyleSignUp.css"/>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <style>
            body{
                background-image: url('Loginscreen.jpg');
                background-size: 105% 100%;
                min-height: 100vh;
                
                justify-content: center;
                 align-items: center;
            }
        </style>


    </head>

    <body>
        <main>
            <form id="signupbox" action="/auth/Signup" method="POST">

                <a href="Login.html"> <i class='bx bx-arrow-back' > <b>Login</b> </i></a>
                
                <h2>Create Account</h2>
                <br/>
                <hr/>


                <section id="container">

                    <div class="Input-text">
                        <input  type="text" name="FirstName" placeholder="First Name" required="Input-text" />     <input type="text" name ="LastName" placeholder="Last Name" required="Input-text"/>
                      
                    </div>


                    
                    <div class="Input-text">
                        <input type="text"  name="Email"   placeholder="Email"  required="Input-text"/>
                        
                    </div>

                    <div class="Input-text">
                        <input type="password" name ="Password" placeholder="Create Password" required="Input-text"/>
                        

                    </div>

                    <div class="Input-text">
                         <input type="text" name ="Phone" placeholder="Phone Number" required="Input-text"/>
                        

                     </div>


                    <div >
                        <button type="submit" class="btn">Sign Up </button>
                    </div>

                    

                </section>
                <br/>

                
                <br/>

            </form>
            
        </main>
    </body>
</html>