*{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    margin:0;
    padding: 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(27, 58, 97);
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(81, 133, 198);
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  nav a{
    text-align: right;
    display: inline-block;
    

  }

header{
  background-color: rgb(39, 89, 150);
  margin: 0;
  height: auto;
}

footer{
  background-color: rgb(39, 89, 150);
  color: #f1f1f1;
  display: flex;
  align-self: end;
  justify-self: stretch;
  bottom: 0;
  padding: 20px;
  width: auto;
}
    
    


header h1{ 
    
    color: white; padding: 10px;margin-top: auto;
    background-color: rgb(39, 89, 150);

}



body{


    background-color: rgb(174, 174, 174);
}

header img[src="/Images/logo.PNG"]{

  width: 100px;
  height: auto;
  padding-bottom: 5px;
  padding-top: 5px;
  
}

    main{
        background-color: white;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 20px;
        margin-bottom: 20px;


    }

    .container img{
        width: 20px;
        height: auto;
        padding-top: 20px;

        
        margin-left: 90%;

        display: block;

        

    }

    .container p {
        color: black;
        padding-top: 20px;
        width: 100%;
        text-align: center;
        
    }

    .container {
        display: grid;
        align-items: center; 
        grid-template-columns: 1fr 1fr 1fr;
        
       }
       
       
    .date,.input-time{
      text-align: center;

    
    }
    

    .time{
        text-align: center;
        padding: 1% 0 ;

    }

    .buttons{
      display: flex;
      justify-content: space-between;

      width: 200px;
      margin-left: auto;
      margin-right: auto;

      padding-top: 20px;
      padding-bottom: 20px;
      align-content: center;

      
  }

  .buttons input, .buttons button{
      text-decoration: none;
      color: rgb(255, 255, 255);

      border: solid black 0px;
      border-radius: 20px;
      padding: 5px 20px;
      
     
  }

  .cncl{
      background-color: rgb(211, 67, 67);
      margin: 20px;
      margin-left: -10%;
  }

  .cncl:hover{
      background-color: rgba(211, 67, 67, 0.5);
  }

  .cnfm, .cnfm2{
      background-color: rgb(143, 228, 157);
      margin: 20px;
      margin-left: 20%;
  }

  .cnfm:hover, .cnfm2:hover{
      background-color: rgb(143, 228, 157, 0.5);
  }





    input[type="date"]{
        padding: 15px;
        margin-top: 2%px;
        
    }

    input[type="time"]{
        padding: 15px 25px;
        margin-bottom: 5%;
    }

   



    /* css for notavailable.html starts here */


    .buttons-error{
      display: flex;
      justify-content: space-between;

      width: 200px;
      margin-left: auto;
      margin-right: auto;

      
      padding-top: 40px;
      padding-bottom: 20px;
      
  }

  .buttons-error a{
      text-decoration: none;
      color: rgb(255, 255, 255);

      border: solid black 0px;
      border-radius: 20px;
      padding: 5px 20px;
      
  }
  

  .cancel-two{
      background-color: rgb(211, 67, 67);
      
  }

  .cancel-two:hover{
      background-color: rgba(211, 67, 67, 0.5);
  }

  .again{
      background-color: rgb(143, 228, 157);
      
      
  }

  .again:hover{
      background-color: rgb(143, 228, 157, 0.5);
  }
    
  .not-available{

    text-align: center;
  }

  .not-available h3{

    color: white;
    background-color: red;
    border: solid 0px white;
    padding: 15px 20px;

    margin-left: auto;
    margin-right: auto;
    width: 300px;

   
  }

  .pink-car{
    display: block;
    width: 200px;
    height: auto;

    margin-left: auto;
    margin-right: auto;


  }

  /* begin css for confirm.html */


  .confirm-tags{
    text-align: center;
  }

  .footer2{
    background-color: rgb(39, 89, 150);
    color: #f1f1f1;
    display: flex;
    position: fixed;
    align-self: end;
    justify-self: stretch;
    bottom: 0;
    padding: 20px;
    width: 100%;

  }






  /* begin css for confirmation.html */

  h1{
    text-align: center;
    padding-top: 50px;
  }
  address{
    text-align: center;
  }
  

  .one{
    padding-bottom: 20px;
    
  }
  .one img{
    display: block;
   width: 250px;
    height: auto;

    margin-left: auto;
    margin-right: auto;

    

  }

  .two{
    text-align: center;
    background-color: rgb(81, 133, 198);
    color: white;
    padding: 4px;
    margin-left: auto;
    margin-right:auto;
    width: 200px;
    
    border: solid;
    border-radius: 4px;
    

    
        
        
        
    
  }

  .three{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .three p{

    display: block;
    text-align:center;
    margin-bottom: 2%;
    
  }

  .buttons-confirmed{
    display: flex;
    justify-content: center;

    /*width: 30%;
    margin: 10px auto;*/

    padding-top: 40px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right:auto;
    width: 250px;
    
}

.buttons-confirmed a{
    text-decoration: none;
    color: rgb(255, 255, 255);

    border: solid black 0px;
    border-radius: 20px;
    padding: 5px 20px;
    

   
}

.exit{
    background-color: rgb(39, 89, 150);
}

.exit:hover{
    background-color: rgba(39, 89, 150, 0.5);
}

/* current booking */

.current-booking caption{
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.current-booking table, .current-booking th, .current-booking td{
  margin-left: auto;
  margin-right: auto;

  border-style: solid;
  border-collapse: collapse;
  margin-bottom: 50px;
  border-width: 1px;
}

/* future reservations */

.future-booking caption{
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.future-booking table, .future-booking th, .future-booking td{
  margin-left: auto;
  margin-right: auto;

  border-style: solid;
  border-collapse: collapse;
  margin-bottom: 50px;
  border-width: 1px;
}

/* past reservations */

.past-booking caption{
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.past-booking table, .past-booking th, .past-booking td{
  margin-left: auto;
  margin-right: auto;

  border-style: solid;
  border-collapse: collapse;
  margin-bottom: 50px;
  border-width: 1px;
}