*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin:0;
    padding:0;
    background-color: lightgray;
}

header{
    background-color: rgb(39, 89, 150);
    margin: 0;
    height: auto;
    color: #FFFFFF;
}

/* Styling the Select Park logo */
img{
    width: 100px;
    padding-bottom: 1%;
    padding-top: 1%;
}

/* Styling the navigation bar */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(27, 58, 97);
}

li{
    float: left;
}

li a, .dropbtn{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn{
    background-color: rgb(81, 133, 198);
}

li.dropdown{
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover{
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

/* Styling the headings and p elements */
h1, h2, p{
    color: #000000;
    text-align: center;
}

.RateHeader{
    font-size: 40px;
}

.capBeforeTxt{
    margin-right: 32%;
}

/* Styling the textbox */
#reviewtext{
    text-align: left;
    font-size: medium;
    border: 1px solid #000000;
    width: 50%;
    height: 200px;
    padding: 1%;
    margin-left: 25%;

}


/* Styling Later and Submit buttons */
#laterbtn{
    text-decoration: none;
      color: rgb(255, 255, 255);

      border: solid black 0px;
      border-radius: 20px;
      padding: 5px 20px;
      background-color: rgb(211, 67, 67);
      margin: 20px;
      margin-left: 42%;

}

#laterbtn:hover{
    background-color: rgba(211, 67, 67, 0.5);
    cursor: pointer;
}

#submitbtn{
    text-decoration: none;
      color: rgb(255, 255, 255);

      border: solid black 0px;
      border-radius: 20px;
      padding: 5px 20px;
      background-color: rgb(143, 228, 157);
      margin: 20px;
      margin-left: 8%;
      
}

#submitbtn:hover{
    background-color: rgb(143, 228, 157, 0.5);
    cursor: pointer;
}
footer{
    background-color: rgb(39, 89, 150);
    padding: 40px;
    color: #FFFFFF;
}