.container{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 700px;
    margin-top: 20px;
}

div {margin-bottom: 20px;}
body{  background-color: rgb(46, 107, 175); } 

#ForgotPassword {
    padding: 60px;
    border-radius: 30px;
    background-color: white;
    
}
p {
    margin-top: 30px;  
    margin-bottom: 10px;
      
}
input[type="email"] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
   
}

button[type="submit"] {
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    cursor: pointer;
    background-color: rgb(46, 107, 175);
   
}

button[type="submit"]:hover {
    background-color: #2c7fb8;
}
