.container{
    height: 100vi;
    align-items: center;
    justify-content: center;
    display: flex
}
div {margin-bottom: 20px;}
body{  background-color: rgb(46, 107, 175); } 

#ForgotPassword {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}
p { margin-bottom: 10px;}
