.container{
    height: 700px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
}

div {margin-bottom: 20px;}
body{  background-color: rgb(46, 107, 175); } 

#ForgotPassword {
    background-color: white;
    padding: 100px;
    border-radius: 80px;
}
p {
    margin-bottom: 10px;
    margin-top: 30px;
     
}

