*{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    margin:0;
    padding: 0;
}
ul {
    list-style-type: none;

  }

header{
  background-color: rgb(39, 89, 150);
  margin: 0;
  height: auto;
}

footer{
  background-color: rgb(39, 89, 150);
  color: #f1f1f1;
  display: flex;
  align-self: end;
  justify-self: stretch;
  bottom: 0;
  padding: 20px;
  width: 100%;
}
    
    
header img[src="./Images/logo.PNG"]{

    width: 100px;
    height: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    
}

body{
  background-color: rgb(174, 174, 174);
}

main{
    margin: 0;
    height: 100%;
}

main h2{
    text-align: center;
    color: white;

    margin-top: 3%;
    text-shadow: 20px;

    
}

.button-main{
    text-align: center;
    margin-bottom: 5%;
    
}



    .b1,.b2,.b3,.b4,.b5 {
      align-items: center;
      appearance: none;
      background-color: #FCFCFD;
      border-radius: 4px;
      border-width: 0;
      box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
      box-sizing: border-box;
      color: #36395A;
      cursor: pointer;
      display: inline-flex;
      width:20%;
      height: 48px;
      justify-content: center;
      line-height: 1;
      list-style: none;
      overflow: hidden;
      margin-bottom: 2%;
      padding-left: 16px;
      padding-right: 16px;
      position: relative;
      text-align: left;
      text-decoration: none;
      transition: box-shadow .15s,transform .15s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      will-change: box-shadow,transform;
      font-size: 18px;
    }
    
    .b1:focus,.b2:focus,.b3:focus,.b4:focus,.b5:focus {
      box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }
    
    .b1:hover,.b2:hover,.b3:hover,.b4:hover,.b5:hover {
      box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
      transform: translateY(-2px);
    }
    
    .b1:active, .b2:active, .b3:active, .b4:active, .b5:active {
      box-shadow: #D6D6E7 0 3px 7px inset;
      transform: translateY(2px);
    }