*{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    margin:0;
    padding: 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(27, 58, 97);
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(81, 133, 198);
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  nav a{
    text-align: right;
    display: inline-block;
    

  }

header{
  background-color: rgb(39, 89, 150);
  margin: 0;
  height: auto;
}

footer{
  background-color: rgb(39, 89, 150);
  color: #f1f1f1;
  display: flex;
  align-self: end;
  justify-self: stretch;
  bottom: 0;
  padding: 20px;
  width: 100%;
}
    
    


header h1{ 
    
    color: white; padding: 10px;margin-top: auto;
    background-color: rgb(39, 89, 150);

}

body{
  background-color: rgb(174, 174, 174);
}

main{

    margin: 0;
    height: 100%;

    
}

    header img[src="./Images/logo.PNG"]{

        width: 100px;
        height: auto;
        padding-bottom: 5px;
        padding-top: 5px;
        
    }


    img[src*="design"]{


      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 5px;
      padding-bottom: 5px;

    }

      .first td{
      border: solid;
      border-color: white;
      border-bottom: 0px;
      padding-left: 10px;
      padding-right: 10px;
      height: 150px;  
    }

    .second td{

      border: solid;
      border-color: white;
      border-top: 0px;
      padding-left: 10px;
      padding-right: 10px;
      height: 150px;  

    }
    
    td button{

      background: none;
      border: none;
      outline: none;
      box-shadow: none;
      color: white;
      cursor: pointer;
      padding: 25px;
    }
    

    table{
      border-collapse: collapse;
      margin-left: auto;
      margin-right: auto;

    }


    table.first{
      margin-top: 50px;
    }

    table.second{
      margin-top: 100px;
      margin-bottom: 50px;
    }

    table td:hover{

      background-color: #f1f1f142;

    }

    h3{
      text-align: center;
      color: white;
    }