*{font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
body{
    margin:0;
    padding: 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(27, 58, 97);
  }
  
  header li {
    float: left;
  }
  
  header li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  header li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(81, 133, 198);
  }
  
  header li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .logoutbtn{
    float: right;
    background-color: rgb(122, 199, 224);
}


  nav a{
    text-align: right;
    display: inline-block;
    

  }

header{
  background-color: rgb(39, 89, 150);
  margin: 0;
  height: auto;
}

.footer2{
  background-color: rgb(39, 89, 150);
  color: #f1f1f1;
  display: flex;
  align-self: end;
  justify-self: stretch;
  bottom: 0;
  padding: 20px;
  width: auto;
}
    
    


header h1{ 
    
    color: white; padding: 10px;margin-top: auto;
    background-color: rgb(39, 89, 150);

}



body{
  background-color: rgb(174, 174, 174);
        
}

    header img[src="/Images/logo.PNG"]{

        width: 100px;
        height: auto;
        padding-bottom: 5px;
        padding-top: 5px;
        
    }

    

    


    main{
        background-color: white;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 150px;
        margin-right: 150px;
        padding-top: 30px;
        padding-bottom: 30px;
        


    }

    .instructions h3{
      text-align: center;
      margin-bottom: 50px;
      
    }
    .instructions p {
      margin-left: auto;
      margin-right: auto;
      width: 25%;
      
      
    }

    .choosefilebtn{
      text-align: center;
      margin-top: 50px;
      
    }

    .buttons{
        display: flex;
        justify-content: space-between;

        width: 200px;
      margin-left: auto;
      margin-right: auto;

        padding-top: 40px;
        padding-bottom: 20px;
        
    }

    .buttons input, .buttons button{
        text-decoration: none;
        color: rgb(255, 255, 255);

        border: solid black 0px;
        border-radius: 20px;
        padding: 5px 20px;

    
       
    }

    .cancel{
        background-color: rgb(211, 67, 67);
        margin: 20px;
      margin-left: -10%;
    }

    .cancel:hover{
        background-color: rgba(211, 67, 67, 0.5);
    }

    .cnfm{
        background-color: rgb(143, 228, 157);
        margin: 20px;
      margin-left: 20%;
    }

    .cnfm:hover{
        background-color: rgb(143, 228, 157, 0.5);
    }


    .cancel a:visited{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    .cancel a{
        text-decoration: none;
    }