*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    border: 0px;
    margin: 0px;
    
  
}


nav{
    padding: 1% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none; 
    color: black; 
    cursor: pointer;
    font: bolder;
}


a:hover{color: red;}


body{
    background-color: gray;
}

main{
    
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 75vh;
        
        
}


h2{
    margin-left: 20%;
    margin-bottom: 10%;
}


#Box {
    width: 35%; 
    padding: 5%;
    border: 1px solid black;
    border-radius: 5%;
    background-color: rgb(116, 153, 186);
}

.Input-text input {
    border: 1px solid #888888;
    padding: 5%;
    margin-bottom: 8%;
    border-radius: 5%;
    width: 100%; 
}

.btnbox{
   margin-left: 35%;
}

.btn{
    padding: 3% 10%;
    background-color: darkgrey;
   
}

.btn:hover{
    cursor: pointer; 
    background-color: lightslategray;

}




