*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}


header{
    border: solid black;
    align-content: center;
    justify-content: center; 
    text-align: center;
    padding: 1%;
    background-color: rgb(39, 89, 150);
    display: flex ;
    justify-content: space-between;

}
nav{

    padding: 1%;
    padding: 1%;
}
nav a{
    text-decoration: none;
    color: black;
    
}

nav a:hover{
    color: red;
}
    

header h1{
    padding-right: 45%;
}






body{
    font-family: Arial, sans-serif;
    
 
}

main{
    background-color: gray;

    display: flex;
    text-align: center;
    margin: 0% ;
    margin-top: 0%;
}







#container {
    width: 75%;

  margin-left: 10%;
  margin-top: 0%;

    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}



form{
    background-color: aliceblue;
    margin: 0%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    width: 80%;
    
   
  
  
}




.Input-text{
    border: solid black 1px;
    padding: 5%;
    margin: 5%;
}



.sidecontainer {
    margin:0%;
    padding: 0%;
    width: 100%;
    height: 100%;


} 

.sidecontainer img { 
    height:100%;
   width: 100%;
  

}


.btn{
    padding: 3% 10%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: darkgrey;
    
}

.btn:hover{
    cursor: pointer; 
    background-color: lightslategray;

}

footer{
    
    /*align-content: center;
    justify-content: center; 
    text-align: center;
    margin: 0%;
    padding: 2%;*/
    background-color:  rgb(39, 89, 150);
    color: #f1f1f1;
    display: flex;
    align-self: end;
    justify-self: stretch;
    bottom: 0;
    padding: 20px;
    width: 100%;
}

img {
    width: 150px;

    

}












